@charset "ISO-8859-1";

body {
	/* Does not work right now */
	background-image: url('./img/Cool_Gradient.jpeg');
	background-size: cover;
	text-align: center;
	font-family: 'Balsamiq Sans', cursive;
	font-weight: bolder;
	font-size: 16px;
}

h1 {
	font-family: 'Patua One', cursive;
	font-size: 100px;
}

p {
}

.container {
	display: block;
	text-align: center;
}

.temperatureFormLeft {
	display: inline-block;
	margin-left: 300px;
	margin-top: 15px;
	text-align: left;
}

.col-md-2 {
	font-size: 40px;
}

.temperatureFormRight {
	display: inline-block;
	margin-right: 300px;
	margin-top: 15px;
	text-align: left;
}