@charset "ISO-8859-1";

/* This prevents the background gradient to repeat */
html {
	min-height: 100%;
}

body {
	background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0),
		rgba(255, 0, 0, 1));
	text-align: center;
}

.container {
	display: block;
	text-align: center;
}

.temperatureFormLeft {
	display: inline-block;
	margin-left: 300px;
	margin-top: 15px;
	text-align: left;
}

.col-md-2 {
	font-size: 40px;
}

.temperatureFormRight {
	display: inline-block;
	margin-right: 300px;
	margin-top: 15px;
	text-align: left;
}